<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AliErguc.Blog.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="~/material/css/material-kit.css" rel="stylesheet" />
    <link href="~/material/demo/demo.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
            <div class="container">
                <div class="navbar-translate">
                    <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit/index.html">
                        Ali Ergüç - BLOG
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="material-icons">apps</i> Kategoriler
                            </a>
                            <div class="dropdown-menu dropdown-with-icons">
                                <a href="./index.html" class="dropdown-item">
                                    <i class="material-icons">layers</i> Yazılım
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html" class="dropdown-item">
                                    <i class="material-icons">layers</i> Felsefe
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html" class="dropdown-item">
                                    <i class="material-icons">layers</i> Makaleler
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html" class="dropdown-item">
                                    <i class="material-icons">layers</i> Hakkımda
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                                <i class="material-icons">star</i><span style="font-size:24px;">C</span>urriculum <span style="font-size: 24px;">V</span>itae
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/product/material-kit-pro" target="_blank">
                                <i class="material-icons">info</i> Hakkımda
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://github.com/alierguc" target="_blank" data-original-title="Github'dan Takip Et" rel="nofollow">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.linkedin.com/in/ali-erg%C3%BC%C3%A7-972ba6164/" target="_blank" data-original-title="Linkedin'den Bağlantı Kur" rel="nofollow">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/alierguc1/" target="_blank" data-original-title="Instagram'dan Takip Et" rel="nofollow">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('../material/img/bg.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="brand">
                            <h1>~ Konfüçyus</h1>
                            <h3>Etraflıca çalış, doğru bir şekilde araştır, dikkatlice düşün, düşündüklerini gözden geçir, ciddi ve samimi bir şekilde uygula.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="index-page sidebar-collapse">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com/">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/presentation">
                            Hakkımda
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/blog">
                            Özgeçmişim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/license">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright float-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, made with <i class="material-icons">favorite</i> by
                <a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a> for a better web.
            </div>
        </div>
    </footer>

    <script src="~/material/js/core/popper.min.js"></script>
    <script src="~/material/js/core/jquery.min.js"></script>
    <script src="~/material/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/material/js/material-kit.js"></script>
    <script src="~/material/js/plugins/bootstrap-datetimepicker.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            //init DateTimePickers
            materialKit.initFormExtendedDatetimepickers();

            // Sliders Init
            materialKit.initSliders();
        });


        function scrollToDownload() {
            if ($('.section-download').length != 0) {
                $("html, body").animate({
                    scrollTop: $('.section-download').offset().top
                }, 1000);
            }
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
